@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* --------------Global styles----------------- */
:root {
    --hue1: 257;
    --hue2: 47;
    --bg-color: hsl(var(--hue1), 100%, 97%);
    --main-color-1: #001932;
    --main-color-alt: #001932a8;
    --main-color-highlight: #003B64;
    --sec-color: #FE621D;
    --sec-color-dark: #c9521f;
    --neu-color: #ffffff;
    --neu-color-2: #ffffff7e;
    --section-padding: 7rem;
    --overlay: #ffffff56;
    
}

/* --------------Main styles----------------- */

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: var(--bg-color);
    font-family: 'Poppins', sans-serif;
}

body.stopScrolling {
    height: 100%;
    overflow: hidden;
}

::selection {
    background-color: var(--sec-color);
    color: var(--main-color-1);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
/* --------------End----------------- */


/* --------------Reusable styles----------------- */
.container {
    position: relative;
    width: 100%;
    max-width: 75em;
    padding: 0 1.5rem;
    margin: 0 auto;
}

.sub-heading {
    color: var(--main-color-1);
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 0.5px;
    border-left: 3px solid var(--sec-color);
    padding: .13rem 0.75rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.heading {
    color: var(--main-color-1);
    font-size: 3rem;
    font-family: "Abril Fatface", cursive;
    font-size: 400;
    line-height: 1.3;
}

.text {
    color: var(--main-color-alt);
    font-size: 0.9rem;
    margin: 2rem 0;
}

.section {
    position: relative;
    padding: var(--section-padding) 0;
}
/* --------------End----------------- */


/* --------------Nav styles----------------- */
header {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    width: 100%;
    z-index: 10;
    transition: .3s;
}

header.scrolled {
    background-color: var(--neu-color-2);
    box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
}

.logo {
    margin-right: 1.5rem;
    width: 100px;
    transition: .3s;
}

header.scrolled .logo {
    height: 80px;
    padding-top: 0px;
}

nav.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.links {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.links ul {
    display: flex;
    align-items: center;
    width: 100%;
}

.nav-link {
    position: relative;
    display: inline-block;
    margin: 0 1rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    color: var(--main-color-1);
    font-weight: 500;
    opacity: 0.8;
    transition: 0.3s;
}

.nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 10px;
    border-radius: 5px;
    background-color: var(--sec-color);
    bottom: 0;
    left: -5px;
    z-index: -1;
    opacity: 0;
    transition: 0.3s;
}

.nav-link:hover {
    color: var(--main-color-1);
}

.nav-link:hover::after {
    width: 100%;
    opacity: 1;
}

.toggle-btn {
    color: var(--main-color-1);
    min-width: 40px;
    height: 40px;
    background-color: var(--neu-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    cursor: pointer;
    box-shadow: 0 0 10px 0px #0000001a;
    transition: .3s;
}

.toggle-btn:hover {
    filter: brightness(96%)
}
/* --------------End----------------- */


/* --------------Hero styles----------------- */
.showcase-area {
    padding: 120px 0;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.showcase-area .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    height: calc(100vh -120px);
    max-height: 600px;
    align-items: center;
}

.showcase-area .sub-heading {
    margin-bottom: 0.7rem;
}

.showcase-area .heading {
    font-size: 3.5rem;
}

.showcase-area .text {
    margin: 0.8rem 0;
}

.cta {
    margin-top: 3.5rem;
    display: flex;
    align-items: center;
}

.cta .btn {
    margin-right: 1.5rem;
}

.btn {
    display: inline-block;
    padding: .9rem 1.75rem;
    border-radius: 12px;
    background-color: var(--sec-color);
    color: var(--main-color-1);
    font-size: .85rem;
    letter-spacing: .4px;
    text-transform: capitalize;
    transition: .3s;
}

.btn:hover {
    background-color: var(--sec-color-dark);
}

.btn.secondary-btn {
    position: relative;
    background-color: transparent;
    color: var(--main-color-1);
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 0px;
    border-bottom: 2.5px solid var(--sec-color);
    border-radius: 0px;
    padding: 0.15rem 0;
}

.btn.secondary-btn::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2.5px;
    bottom: -2.5px;
    left: 0;
    background-color: var(--main-color-1);
    transition: 0.3s ease-in-out;
}

.btn.secondary-btn:hover::before {
    width: 100%;
}

.showcase-image img {
    padding-left: 40px;
    padding-top: 20px;
    width: 580px;
}

.showcase-image .dots {
    width: 112px;
}

.showcase-image .dots1 {
    width: 112px;
}

.showcase-image .dots2 {
    width: 112px;
}

.showcase-image .rectangle {
    width: 112px;
    opacity: .3;
}

.showcase-image .rectangle1 {
    width: 112px;
    opacity: .3;
}

.showcase-image .dots {
    position: absolute;
    left: 95%;
    top: 20%;
    transform: translate(-50%, -50%);
}

.showcase-image .rectangle {
    position: absolute;
    left: -30%;
    top: 30%;
    transform: translate(-50%, -50%);
}

.showcase-image .rectangle1 {
    position: absolute;
    left: 98%;
    top: 80%;
    transform: translate(-50%, -50%);
}

.showcase-image .dots1 {
    position: absolute;
    left: 0%;
    top: 90%;
    transform: translate(-50%, -50%);
}

.showcase-image .dots2 {
    position: absolute;
    left: -96%;
    top: 10%;
    transform: translate(-50%, -50%);
}
/* --------------End----------------- */


/* --------------About style----------------- */

.about .container {
    display: grid;
    grid-template-columns: 1.05fr 1fr;
    align-items: center;
    margin-top: -60px;
}

.about .text {
    margin: 3rem 0 4rem;
}

.about-grid {
    display: grid;
    grid-template-columns: 190px 190px;
    grid-template-rows: 190px 190px;
    justify-content: center;
    column-gap: 2.5rem;
    row-gap: 100px;
    margin-right: 2rem;
    position: relative;
}

.about-card {
    background-color: var(--neu-color);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s transform;
}

.about-card:nth-child(1) {
    border-radius: 40px 40px 5px 40px;
}

.about-card:nth-child(2) {
    margin-top: 50px;
    border-radius: 40px 40px 40px 5px;
}

.about-card:nth-child(3) {
    margin-top: -50px;
    border-radius: 40px 5px 40px 40px;
}
.about-card:nth-child(4) {
    border-radius: 5px 40px 40px 40px;
}

.st1 {
    fill: var(--main-color-1);
    opacity: 0.4;
}

.st2 {
    stroke: var(--main-color-1);
    fill: var(--sec-color);
}

.st2-a {
    stroke: var(--sec-color);
}

.st3 {
    stroke: var(--main-color-1);
    
}

.st4 {
    stroke: var(--main-color-1);
}

.st5 {
    stroke: var(--main-color-1);
    fill: var(--sec-color);
}

.st6 {
    stroke: var(--main-color-1);
    
}

.st7 {
    stroke: var(--main-color-1);
    
}

.st8 {
    stroke: var(--main-color-1);
    
    
}

.st9 {
    stroke: var(--main-color-1);
}

.about-card h3 {
    color: var(--main-color-1);
    font-weight: 600;
    font-size: .9rem;
    margin-top: 1rem;
    letter-spacing: .3px;
}

.about-card:hover {
    transform: scale(1.1);
}

.about-grid::before {
    content: "";
    position: absolute;
    width: 210px;
    height: 210px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 15px solid var(--main-color-1);
    z-index: -1;
    opacity: 0.07;
}

.about-info .about-dots {
    width: 45px;
    position: absolute;
    left: 90%;
    top: 20%;
    transform: translate(-50%, -50%);
}

/* --------------end----------------- */


/* --------------Skills style----------------- */

.skills {
    overflow: hidden;
    margin-top: -60px;
}

.skills-box {
    background-color: var(--neu-color);
    padding: 5rem 6rem;
    border-radius: 20px;
    width: 100%;
}

.skills .dots2 {
    width: 70px;
    position: absolute;
    left: 90%;
    top: 15%;
    transform: translate(-50%, -50%);
}

/* --------------end----------------- */

/* --------------My Services style----------------- */

.services .container {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    column-gap: 6rem;
    align-items: center;
}

/* .milestones {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    justify-content: flex-start;
}

.milestones h2 {
    color: var(--sec-color);
    font-size: 1.3rem;
}

.milestones h2 span {
    font-size: 2rem;
    line-height: 1.2;
    margin-right: .1rem;
}

.milestones h5 {
    color: var(--main-color-1);
    line-height: .9;
    font-weight: 500;
    font-size: 0.8rem;
} */


.services-grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -60px;
    column-gap: 2rem;
    row-gap: 4.4rem;
}

.srv-card {
    background-color: var(--neu-color);
    border-radius: 15px;
    padding: 2.5rem 2.1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 280px;
}

.srv-card h3 {
    color: var(--main-color-1);
    font-weight: 500;
    font-size: 1.05rem;
}

.srv-card .text {
    margin: .7rem 0;
    font-size: .7rem;
}

.srv-card:nth-child(2) {
    transform: translateY(2.2rem);
}

.srv-card:nth-child(3) {
    transform: translateY(-2.2rem);
}

.services-grid::before {
    content: "";
    position: absolute;
    width: 210px;
    height: 210px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 15px solid var(--main-color-1);
    z-index: -1;
    opacity: 0.07;
}

.services .grid {
    position: absolute;
    left: 30%;
    top: 20%;
}

.services .grid2 {
    position: absolute;
    left: 60%;
    top: 80%;
}

/* --------------end----------------- */


/* --------------Portfolio Styling----------------- */

.portfolio .container {
    transition: .4s;
}

.portfolio-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.portfolio-title {
    padding-bottom: 1rem;
}

.filter-btn {
    display: inline-block;
    color: var(--main-color-1);
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: .85rem;
    font-weight: 600;
    letter-spacing: .4px;
    margin-left: 1.3rem;
    font-family: inherit;
    text-transform: uppercase;
}

.filter-btn.mixitup-control-active {
    color: var(--sec-color);
}

.portfolio-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}

.prt-card {
    border-radius: 15px;
    overflow: hidden;
    background-color: var(--neu-color);
    height: 265px;
    display: grid;
    grid-template-rows: 1fr auto;
}

.prt-image {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.prt-image img {
    width: 105%;
}

.prt-desc {
    padding: 1.1rem 1.6rem;
    display: flex;
    justify-content: space-between;
}

.prt-desc h3 {
    font-size: .95rem;
    color: var(--main-color-1);
    font-weight: 600;
    text-transform: capitalize;
}

.btn.secondary-btn.sm {
    padding: .07rem .1rem;
    font-size: .78rem;
    border-bottom-width: 2px;
}

.btn.secondary-btn.sm::before {
    height: 2px;
    bottom: -2px;
}

.prt-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    backdrop-filter: blur(0px);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    transition: 0.5s;
}

.prt-image:hover .prt-overlay {
    pointer-events: auto;
    background-color: var(--overlay);
    backdrop-filter: blur(10px);
}

.prt-icon {
    color: var(--main-color-1);
    font-size: 1.1rem;
    margin: 0 0.4rem;
    background-color: var(--sec-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: translateY(15px);
    opacity: 0;
    transition: .3s;
}

.prt-icon:hover {
    background-color: var(--sec-color-dark);
}

.prt-image:hover .prt-icon {
    opacity: 1;
    transform: translateY(0px);
    transition: .3s var(--i);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 11;
    pointer-events: none;
}

.modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00000096;
    opacity: 0;
    transition: .3s;
}

.slider-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 400px));
    width: 90%;
    max-width: 900px;
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    align-items: center;
    justify-items: center;
    opacity: 0;
    transition: .2s;
}

.slider-wrap img {
    width: 100%;
    display: none;
    border-radius: 10px;
}

.navigation {
    color: #ffffff;
    font-size: 2rem;
    cursor: pointer;
}

.slider-wrap img.showImage {
    display: block;
}

.portfolio.open .modal {
    pointer-events: auto;
}

.portfolio.open .modal-overlay {
    opacity: 1;
}

.portfolio.open .container {
    transform: scale(0.9);
}

.portfolio.open .slider-wrap {
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: .45s 0.1s;
}

/* --------------end----------------- */

/* --------------Testimonial Styling----------------- */

.testimonial {
    padding: ;
}

.testimonial .container {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    align-items: center;
}


.reviews {
    width: 100%;
    height: 400px;
    background-color: var(--sec-color);
    border-radius: 15px;
}

.testimonial-title {
    padding-left: 3rem;
}

/* .testimonial-title > * {
    color: #fff;
} */

.section-background {
    position: absolute;
    width: 100vw;
    max-width: 75rem;
    height: calc(100% + 120px);
    top: 15px;
    left: 50%;
    transform: translateX(calc(-50% + 120px));
    background-color: var(--neu-color);
    border-bottom-left-radius: 60px;
    z-index: -1;
}

.section-background .person {
    position: absolute;
    height: 450px;
    bottom: 4%;
    right: 5%;
}

/* --------------end_incomplete----------------- */


/* --------------Contact styling----------------- */

.contact .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
}

.mail {
    
}