@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* --------------Global styles----------------- */
:root {
    --hue1: 257;
    --hue2: 47;
    --bg-color: hsl(var(--hue1), 100%, 97%);
    --main-color-1: #001932;
    --main-color-alt: #001932a8;
    --main-color-highlight: #003B64;
    --sec-color: #FE621D;
    --sec-color-dark: #c9521f;
    --neu-color: #ffffff;
    --neu-color-2: #ffffff7e;
    --section-padding: 7rem;
    
}

/* --------------Main styles----------------- */

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: var(--bg-color);
    font-family: 'Poppins', sans-serif;
}

::selection {
    background-color: var(--sec-color);
    color: var(--main-color-1);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
/* --------------End----------------- */


/* --------------Reusable styles----------------- */
.container {
    position: relative;
    width: 100%;
    max-width: 75em;
    padding: 0 1.5rem;
    margin: 0 auto;
}

.sub-heading {
    color: var(--main-color-1);
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 0.5px;
    border-left: 3px solid var(--sec-color);
    padding: .13rem 0.75rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.heading {
    color: var(--main-color-1);
    font-size: 3rem;
    font-family: "Abril Fatface", cursive;
    font-size: 400;
    line-height: 1.3;
}

.text {
    color: var(--main-color-alt);
    font-size: 0.9rem;
    margin: 2rem 0;
}
/* --------------End----------------- */


/* --------------Nav styles----------------- */
header {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    width: 100%;
    z-index: 10;
    transition: .3s;
}

header.scrolled {
    background-color: var(--neu-color-2);
    box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
}

.logo {
    margin-right: 1.5rem;
    width: 100px;
    transition: .3s;
}

header.scrolled .logo {
    height: 80px;
    padding-top: 0px;
}

nav.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.links {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.links ul {
    display: flex;
    align-items: center;
    width: 100%;
}

.nav-link {
    position: relative;
    display: inline-block;
    margin: 0 1rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    color: var(--main-color-1);
    font-weight: 500;
    opacity: 0.8;
    transition: 0.3s;
}

.nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 10px;
    border-radius: 5px;
    background-color: var(--sec-color);
    bottom: 0;
    left: -5px;
    z-index: -1;
    opacity: 0;
    transition: 0.3s;
}

.nav-link:hover {
    color: var(--main-color-1);
}

.nav-link:hover::after {
    width: 100%;
    opacity: 1;
}

.toggle-btn {
    color: var(--main-color-1);
    min-width: 40px;
    height: 40px;
    background-color: var(--neu-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    cursor: pointer;
    box-shadow: 0 0 10px 0px #0000001a;
    transition: .3s;
}

.toggle-btn:hover {
    filter: brightness(96%)
}
/* --------------End----------------- */


/* --------------Hero styles----------------- */
.showcase-area {
    padding: 120px 0;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.showcase-area .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    height: calc(100vh -120px);
    max-height: 600px;
    align-items: center;
}

.showcase-area .sub-heading {
    margin-bottom: 0.7rem;
}

.showcase-area .heading {
    font-size: 3.5rem;
}

.showcase-area .text {
    margin: 0.8rem 0;
}

.cta {
    margin-top: 3.5rem;
    display: flex;
    align-items: center;
}

.cta .btn {
    margin-right: 1.5rem;
}

.btn {
    display: inline-block;
    padding: .9rem 1.75rem;
    border-radius: 12px;
    background-color: var(--sec-color);
    color: var(--main-color-1);
    font-size: .85rem;
    letter-spacing: .4px;
    text-transform: capitalize;
    transition: .3s;
}

.btn:hover {
    background-color: var(--sec-color-dark);
}

.btn.secondary-btn {
    position: relative;
    background-color: transparent;
    color: var(--main-color-1);
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 0px;
    border-bottom: 2.5px solid var(--sec-color);
    border-radius: 0px;
    padding: 0.15rem 0;
}

.btn.secondary-btn::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2.5px;
    bottom: -2.5px;
    left: 0;
    background-color: var(--main-color-1);
    transition: 0.3s ease-in-out;
}

.btn.secondary-btn:hover::before {
    width: 100%;
}

.showcase-image img {
    padding-left: 40px;
    padding-top: 20px;
    width: 580px;
}

.showcase-image .dots {
    width: 112px;
}

.showcase-image .dots1 {
    width: 112px;
}

.showcase-image .dots2 {
    width: 112px;
}

.showcase-image .rectangle {
    width: 112px;
}

.showcase-image .rectangle1 {
    width: 112px;
}

.showcase-image .dots {
    position: absolute;
    left: 95%;
    top: 20%;
    transform: translate(-50%, -50%);
}

.showcase-image .rectangle {
    position: absolute;
    left: -30%;
    top: 30%;
    transform: translate(-50%, -50%);
}

.showcase-image .rectangle1 {
    position: absolute;
    left: 98%;
    top: 80%;
    transform: translate(-50%, -50%);
}

.showcase-image .dots1 {
    position: absolute;
    left: 0%;
    top: 90%;
    transform: translate(-50%, -50%);
}

.showcase-image .dots2 {
    position: absolute;
    left: -96%;
    top: 10%;
    transform: translate(-50%, -50%);
}
/* --------------End----------------- */


/* --------------About style----------------- */

.about {
    position: relative;
    padding: var(--section-padding) 0;
}